nav ul li {
    color: rgb(25, 22, 221);
    display: inline;
    background-color: darkturquoise;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style:solid;
    border-width: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
body {
    background-color: indianred;
}
h3 {
    color: maroon;
}
footer img {
    border-style: double;
    border-width: 15px;
    border-color: purple;
}